* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container-fluid {
  display: flex;
}
main {
  width: 100%;
  padding: 20px;
}
.sidebar {
  background: #000;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo {
  font-size: 30px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active {
  background: lightskyblue;
  color: #000;
}
.icon,
.link_text {
  font-size: 20px;
}
.muted-text {
  font-size: 22px;
  font-weight: 600;
}

#home,
#about,
#contact {
  position: absolute;
  top: 4%;
  left: 14%;
}

aside > article {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside > article > svg {
  font-size: 2rem;
  color: #fff;
}

aside > article > svg:hover {
  color: #f26440;
}

/* a {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
} */
a > svg {
  font-size: 2rem;
  color: #f26440;
}
